.sc-ion-searchbar-md-h {
    --background:var(--ion-background-color,#000);
    --icon-color: #c1c2d2;
}
.sc-ion-searchbar-md-h {
    --color: #f4f5f8;
}

.list{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  ion-spinner{
      --color:#fff;
  }

  .sc-ion-searchbar-md-h{
      border-radius: 50% !important;
  }